@charset "utf-8";
/* CSS Document */

body{
	margin-top:0px;
	margin-left:0px;
	background-color:#400000;
	}

div#main{
	width:100%;}
	
div#header {
	height:100px;
	color:#F90;

}
div#navi {
	height:10px;	
}

div#content {
	min-height:400px;
}
div#footer {
	height:100px;
	color:#F90;
}

div#topbar {
	height:50px;
}
.head{
	font-size:32px;
	color:#FC0;
	text-align:center;
	font-weight:bold;
	padding-top:10px;
	text-transform:capitalize;
	
	}
	
.foot{
	text-align:center; 
	font-size:-1; 
	font-style:italic;
	color:#FFF;}

.error-msg{
	color:red;
	font-style:italic;
	text-align:center;}